**/out
*.class
*.ids
*.iml
*.iml
*.ipr
*.iws
*.jtl
*.log
*.log.1
*.orig
*.out
*.sublime-project
*.sublime-workspace
*.war
*.xml.sha1
*.zip
*.zip.sha1
.classpath
.DS_Store
.gradle
.idea
.idea
.project
.sass-cache
.settings
.svn
/-w
bin/
build
buildPlugins
classes/